.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 5px;
        color: #9b5d42;
        font-family: montserrat-bold;
    }

    p {
        font-size: 1.5rem;
        padding-top: 20px;
    }

    .skills-container {
        margin-top: 50px;

        .skills-icons-div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            border-bottom: 1px solid #dfdbd8;;

            h3 {
                font-size: 1.7rem;
            }
            
            .icon-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-right: 50px;
                padding-top: 40px;

                img {
                    width: 60px;
                    height: 60px;
                    cursor: pointer;
                    transition: transform .5s ease-in-out;

                    &:hover {
                        transform: rotate(360deg);
                    }
                }

                .mongo-icon {
                    width: 100px;
                }


                .firebase-icon {
                    width: 100px;

                }

                .mongoose-icon {
                    width: 100px;
                    height: 60px;
                    background-image: url('../images/mongoose.png');                
                    background-repeat: no-repeat;
                    background-color: transparent;
                    background-position: center;
                    background-size:contain;
                    transition: transform .5s ease-in-out;
                    cursor: pointer;
                    
                    &:hover {
                        transform: rotate(360deg);
                    }
                }
            }

            .languages-div {
                display: flex;
                flex-direction: column;
                max-width: 50%;

            }
            
            .icons-container {
                display: flex;
                flex-wrap: wrap;

            }
    
            .tools-div {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                border-left: 1px solid #dfdbd8;

                h3 {
                    padding-left: 20px;
                    overflow-wrap: break-word;
                }

                .icons-container {
                    padding-left: 40px;
                }
            }
        }
    }

    @media only screen and (max-width: 1460px) {
        h1 {
            padding-top: 0 !important;
            padding-bottom: 0;
            font-size: 2.5rem !important;
        }
    
        p {
            font-size: 1.3rem;
            padding-top: 5px;
        }
        
        .skills-container {
            margin-top: 20px !important;
        }

        .skills-icons-div {
            padding-top: 0 !important;
        }
            
    }
    
    @media only screen and (max-width: 1276px) {
        h1 {
            font-size: 2.1rem !important;
        }
        p {
            font-size: 1.2rem;
        }
        .skills-icons-div {
            padding-top: 0 !important;
            
            h3 {
                font-size: 1.3rem !important; 
            }
            .icon-div {
                padding-top: 10px !important;
                padding-right: 25px !important;
            }
        }
    }
    
    @media only screen and (max-width: 1036px) {
        h1 {
            font-size: 2rem !important;
        }
    
        .skills-container {
            margin-top: 10px !important; 
        }
    }
    
    @media only screen and (max-width: 749px) {
        .icons-container {
            flex-wrap: nowrap !important;
            overflow: scroll !important;
        }
    
        .tools-div {
            overflow: scroll;
        }
    }
    @media only screen and (max-width: 402px) {
        h1 {
            font-size: 1.7rem !important;
        }

        p {
            font-size: .9rem !important;
        }
        
        .skills-icons-div {
            padding-bottom: 10px !important;
        }
    }
}
