.footer-container {
    display: flex;
    position: absolute;
    align-items: center;
    height: 50px;
    bottom: 0;
    font-size: 1.2rem;
    letter-spacing: 2px;
    
    .git-button {
        border: none;
        background-image: url('../images/github-icon.svg');
        background-position: center;
        background-size: cover;
        background-color: transparent;
        height: 30px;
        width: 31px;
        transition: transform .5s ease-in-out;
        margin-left: 10px;
        cursor: pointer;

        &:hover {
            transform: rotate(360deg);
        }
    }
}