.quicklinks-container {
    position: fixed;
    right: 0;
    top: 30%;
    width: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 299;

    .quicklink-btn {
        background-color: transparent;
        background-position: center;
        background-size: cover;
        border: none;
        width: 40px;
        height: 40px;
        opacity: .2;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    .git-btn {
        background-image: url('../images/github-icon.svg');
    }

    .linkedin-btn {
        background-image: url('../images/linkedin.svg');
    }
}

@media only screen and (max-width: 957px) {
    .quicklinks-container {
        height: 75px;

        .quicklink-btn {
            width: 30px !important;
            height: 30px !important;
        }
    }
}